/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

a{
    font-size: 12px;
    padding: 15px;
    transition: background-color 1s;
    height: 100%;
    color: white;
    text-decoration: none;
    display: inline-block;
}
/* Settaggio immagini */
img{
    width: 100%;
}
/* Settaggio generico per i contenitori simil 
bottoni, con un hover per il background*/
.free-trial{
    color:white;
    background-color: #0061ff;
    transition: all 1s;
    width: 70%;
    font-size: 12px;
    text-align: center;
    margin: 25px 0;
    cursor: pointer;
}
.free-trial:hover{
    box-shadow: inset 0px 0px 5px black;
}

/* Sezioni più grandi */
.section-larger{
    width: 60%;
    margin: 0 auto;
}
/* Sezioni più piccole */
.section-smaller{
    width: 50%;
    margin: 0 auto;
}
/* Classe per settare il flex */
.flex{
    display: flex;
}

.bold{
    font-weight: bold;
}

/* Settaggio testata */
header{
    /* Display flex così da posizionare gli
    elementi agli estremi */
    display: flex;
    justify-content: space-between;
    /* Position fixed così da far scorrere
    l'header */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
    box-shadow: 5px 0 5px;
    height: 60px;
}
/* Elemento dell'header (2 elementi) */
.offers{
    /* In flex così da posizionare centralmente 
    gli elementi e gestirli meglio */
    height: 100%;
    display: flex;
    align-items: center;
}
/* Link per l'header così da far funzionare il link 
su tutta l'area occupata*/
header a{
    color: black;
    font-size: 15px;
    line-height: 2;
}
header a:hover{
    background-color: rgb(227, 224, 224);
    cursor: pointer;
}
/* Link nell'header */
.header-button{
    height: auto;
    margin-right: 20px;
    padding: 0px 10px;
    background-color: #0061ff;
    color: white;
}
.header-button:hover{
    background-color: #0061ff;
}
.window{
    height: 100%;
    position: relative;
}
.drop-down{
    position: absolute;
    top: 60px;
    left: 0;
    width: 300px;
    visibility: hidden;
}
.drop-down ul{
    list-style: none;
}
.drop-down li{
    padding: 15px 30px;
    border: 1px solid red;
    background-color: white;
}
.window:hover .drop-down{
    visibility: visible;
    box-shadow: 0px 0px 20px 100vw rgba(0,0,0,0.5);
}




/* Margin-top al main così da fixare l'altezza,
dato l'header in fixed */
main{
    margin-top: 60px;
}




/* Inizio prima sezione */
/* Div per lo sfondo della prima sezione */
.back-opening{
    background-color: #b4d0e7;
    text-align: start;
}
/* Contenitore degli elementi della prima 
sezione relative, così da spostare a livello 
visivo verso il basso */
.opening{
    position: relative;
    top: 100px;
}
.opening h1{
    font-size: 50px;
}
/* Contenitore del testo e dell'immagine della 
prima sezione, in flex per posizionare i due
elementi */
.opening-text{
    display: flex;
    margin-top: 20px;
}
/* Contenitore dellla parte testuale */
.text{
    width: 30%;
    font-size: 12px;
}
/* Freccia nella prima sezione */
.arrow{
    margin-top: 75px;
}
.arrow a{
    font-size: 30px;
    color: black;
}
/* Contenitore dell'immagine della prima 
sezione */
.image-container{
    width: 70%;
}



/* Inizio seconda sezione */
/* Contenitore della seconda sezione, con 
margin-top per rimediare al relative della
prima sezione */
.business-plan{
    margin-top: 150px;
}
.business-plan h2{
    font-size: 35px;
    margin-bottom: 30px;
    padding-top: 60px;
}
/* Contenitore per i "checkbox" (da completare con degli hover)*/
.checkbox-container{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
/* "Checkbox" in inline-block per affiancargli
il testo */
.checkbox{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    margin: 3px;
}
/* Checkbox selezionato */
.checkbox-full{
    border: 4px solid #0061ff;
}
/* Checkbox NON selezionato */
.checkbox-empty{
    border: 1px solid black;
}

/* Contenitore per le offerte nella seconda 
sezione, in flex per posizionare le alternative.
In wrap così da andare a capo nel caso in cui se
ne vogliano aggiungere altre */
.plans, .cards{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 30px;
}
/* Contenitore generico per l'offerta, da 
utilizzare come base per le possibili offerte */
.subscription-card, .operations-card{
    width: calc(100% - 66% - 20px);
    border: 1px solid black;
}
/* Tipo di offerta, in testata */
.subscription-type{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid black;
}
/* Corpo dell'offerta */
.subscription-corps{
    padding: 15px 25px;
}
/* Titolo del Corpo */
.subscription-corps h3{
    font-size: 25px;
}
/* Tutti gli elementi all'interno del Corpo */
.subscription-items, .operations-items{
    margin-bottom: 30px;
    font-size: 15px;
}
/* Prezzo */
.price{
    font-weight: bold;
    margin-bottom: 10px;
}
/* Mensilità */
.month{
    color: rgb(186, 184, 184);
}
/* Contenitore delle informazioni nel testo */
.subscription-information, .operations-info{
    margin: 15px 0;
}
/* Settaggio icona nell'offerta, in maniera tale
da non permettere al testo affianco di posizionarsi
sotto l'icona */
.s-icon{
    display: inline-block;
    width: 7%;
    line-height: 100%;
    margin-right: 3px;
    margin-top: 2px;
}
.fa-check{
    color: #0662ff;
}
/* Settaggio del testo nell'offerta, in maniera tale
da permettere all'icona affianco di NON far 
posizionare il testo sotto */
.icon-text{
    width: 90%;
    display: inline-block;
}
/* Settaggio della larghezza del bottone 
generico nelle offerte */
.subscription-ft{
    width: 100%;
}
/* Linea di spacco nelle offerte */
.subscription-corps hr{
    width: 30%;
    margin-bottom: 30px;
}
.s-footer-title{
    font-weight: bold;
    margin-bottom: 20px;
}
/* Elementi dei dettagli delle offerte */
.s-footer-items{
    margin-bottom: 20px;
}
.s-footer-icon{
    color: 0662ff;
}
.fix{
    margin-bottom: 50px;
}
.big-card{
    width: 100%;
    border: 1px solid black;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.contact{
    width: 30%;
    margin-top: 0px;
    margin-bottom: 15px;
}
.f-s{
    font-size: 15px;
}
.info{
    width: 60%;
    font-size: 12px;
    margin-top: 30px;
}




.partner-box{
    margin-top: 60px;
}
.p-box-img{
    width: 60%;
}
.p-box-text{
    width: 40%;
    padding: 40px;
    text-align: start;
}
.p-box-text h3{
    margin-bottom: 15px;
}
.find-partner{
    background-color: white;
    border: 1px solid black;
    width: 50%;
}
.find-partner a{
    color: black;
}   


.multi-cards
{
    margin-top: 60px;
}
.multi-cards h2{
    font-size: 35px;
    margin-bottom: 30px;
    padding-top: 60px;
}
.operations-card{
    border: none;
}
.operations-img{
    border: none;
}
.operations-head{
    font-size: 20px;
    margin-bottom: 30px;
}


.dropbox-business{
    margin-top: 50px;
}
.business-text{
    width: 60%;
    font-size: 20px;
}
.business-link{
    margin-top: 20px;
}
.business-link a{
    font-size: 15px;
    color: rgb(0, 115, 255);
    padding: 0;
}




.designit{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.designit-items{
    width: calc(100% - 66%);
    height: calc(100vw - (100vw / 3) * 2);
    display: flex;
    flex-wrap: wrap;
}
.designit-box{
    width: 50%;
    padding: 60px;
    display: flex;
    align-items: center;
    height: 50%;
    transition: all 1s;
}
.designit-box:hover{
    border: 20px solid #d1e9cd;
}
.designit-box img{
    filter: invert(1);

}
.designit-text{
    padding: 50px;
    background-color: rgb(235, 233, 233);
    width: calc(100% / 3);
    height: calc(100vw - (100vw / 3) * 2);
    overflow-y: scroll;
}
.designit-text img{
    width: 80%;
    margin-bottom: 30px;
}
.designit-text hr{
    width: 30%;
    margin-bottom: 30px;
}
.d-text{
    font-size: 25px;
    margin-bottom: 30px;
}
.d-business{
    width: 100%;
    background-color: #b4d0e7;
}
.d-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.db-text{
    width: 40%;
    margin: 50px 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(122, 7, 7);
}
.db-button{
    width: 30%;
    background-color: white;
}
.db-button a{
    color: black;
}



.questions-box{
    margin: 50px auto;
}
.questions-box h2{
    margin: 20px 0;
    font-size: 40px;
}
.question{
    padding: 20px 0;
    cursor: pointer;
}
.question:hover .fa-angle-up{
    display: inline;
}
.question:hover .deepening{
    display: block;
}
.question:hover .fa-angle-down{
    display: none;
}
.first-sight{
    font-weight: bold;
    font-size: 15px;
    position: relative;
}
.fa-angle-down, .fa-angle-up{
    position: absolute;
    top: 0;
    right: 20px;
}
.fa-angle-up{
    display: none;
}
.deepening{
    padding-top: 20px;
    display: none;
}




footer{
    background-color: black;
}
.footer-container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-items{
    width: calc(100% / 5 - 20px);
}
footer h3{
    color: white;
    padding-bottom: 10px;
}
footer a{
    color: white;
    font-size: 15px;
    padding: 0 0 20px 0;
}
footer hr{
    width: 10%;
    margin-bottom: 20px;
}
.language{
    color: white;
    padding-bottom: 30px;
}